body {
    height: 100%;
    text-align: center;
}

.countdown-container {
    margin: 100px auto;
}

.countdown-svg {
    font-family: 'Major Mono Display', monospace;
    font-weight: bold;
    width: 80vw;
    font-size: 1vw;
}
